<h1> Load Cart # <%= @current_cart_id %></h1>
<h2> There are <%= @current_cart.size %> positions in this cart. 
<div> <%= link_to "Change Size", cart_path(@current_cart_id), class: "btn btn-sm btn-primary" %> </div>
</h2>
<table>
<tr>
<th>UPC</th>
<th>SKU</th>
<th>Position</th>
<th>Qty</th>
</tr>
<% @current_totes.each do |totes| %>
    <tr>
    <td> <%= totes.product.upc %> </td>
    <td> <%= totes.product.sku %> </td>
    <td> <%= totes.position %> </td>
    <td> <%= totes.qty %> </td>
</tr>
<% end %>
</table>
<%= form_with(model:@tote) %>
<div>
</div>

<div class="field">
    <%= label_tag "Scan UPC" %>
    <%= text_field_tag :product_upc, '', autofocus: true %>
  </div>

  <div class="actions">
    <%= submit_tag "Add Product to Cart", class: "btn btn-md btn-primary"%>  <%= link_to "Save Cart", edit_cart_path(@current_cart_id), class: "btn btn-md btn-primary" %>
  </div>