<h1> Load Cart # <%= @current_cart_id %></h1>
<h2> Unique SKUs <%= @unique_skus %> </h2>
<table>
<tr>
<th>UPC</th>
<th>SKU</th>
<th>Position</th>
<th>Qty</th>
</tr>
<% @current_totes.each do |totes| %>
    <tr>
    <td> <%= totes.product.upc %> </td>
    <td> <%= totes.product.sku %> </td>
    <td> <%= totes.position %> </td>
    <td> <%= totes.qty %> </td>
</tr>
<% end %>
</table>
<%= form_with(model:@tote) do |form| %>
<div>
</div>

<div class="field">
    <%= label_tag :product_upc %>
    <%= text_field_tag :product_upc %>
  </div>
  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>
  <div class="actions">
    <%= form.submit "Add Product to Cart", class: "btn btn-md btn-primary"%>  <% end %> <%= link_to "Save Cart", edit_cart_path(@current_cart_id), class: "btn btn-md btn-primary" %>
  </div>
 