<h1> You've loaded <%= @your_carts.count %> carts </h1>
<%= form_with do |form| %>
<h2><%= form.submit "Start Loading Cart", class: "btn btn-md btn-primary"%></h2>
  <% end %>
<table>
  <thead>
    <tr>
      <th>Cart_ID</th>
      <th>MUID</th>
      <th>Created Date/Time</th>
      <th>Working On</th>
    </tr>
  </thead>
  <tbody>
  <% @your_carts.each do |cart| %>
  <tr>
  <td> <%= cart.id %> </td>
  <td> <%= cart.muid %> </td>
  <td> <%= cart.updated_at %> </td>
  <td> <%= cart.active %> </td>
  </tr>
  <% end %>
  </tbody>
</table>

