<%= form_with do |form| %>

<h1> New Cart</h1>

<div class="field">
    <%= form.label @cart.user %>
    <%= form.label @cart.user, id: :current_user %>
  </div>

  <div class="field">
    <%= form.label :muid %>
    <%= form.text_field :muid, id: :cart_muid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>