<h1>Edit Cart <%= @current_cart_id %> <%= @current_cart %></h1>
<div></div>

  <%= form_for @current_cart do |f| %>

  <%= f.label :size %>
  <%= f.text_field :size %>
  <div></div>
  <%= f.submit "Update Size", class: "btn btn-primary" %>

  <% end %>