<h1>Cart <%= @current_cart.id %></h1>
<div></div>

  <%= form_for @current_cart do |f| %>
  <%= f.label :size %>
  <%= f.text_field :size %>
  <div></div>
  <%= f.label :muid %>
  <%= f.text_field :muid %>
  <div></div>
    <%= f.submit "Update Cart", class: "btn btn-primary" %>
  <% end %>

<table>
<tr>
<th>SKU</th>
<th>Qty</th>
<th>Position</th>
</tr>
<% @big_totes.each do |suck| %>
    <td> <%= @current_totes.where(position: suck).first.product.sku %></td>
    <td> <%= @current_totes.where(position: suck).pluck(:qty).max %> </td>
    <td> <%= suck %> </td>
</tr>
<% end %>
<td><h3>Total</h3></td>
<td><h3><%= @current_totes.count %></h3></td>
<td></td>
</table>

<%= link_to "Save Cart", edit_cart_path(params[:id]), class: "btn btn-md btn-primary" %>

